# Python
__pycache__/
*.py[cod]
*.class

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Database
*.db
*.sqlite
*.sqlite3

# PostgreSQL
*.sql
*.pgsql

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp
*.bak
*.swp

# Alembic
alembic.ini

# Other
*.pyc
*.pyo
*.mo
*.pot

